# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Django Static / Media
staticfiles/
media/

# IDE/Editor
.idea/
.vscode/
*.swp

# OS system files
.DS_Store
Thumbs.db

# Env files and secrets
.env
.env.*
*.secret


*.log

# Docker
docker-compose.override.yml
